<hmtl>
  <head>
  </head>
  <body>
    <div style="width: 580px;
                height: 390px;
                margin-top: -195px;
                margin-left: -195px;
                left: 50%;
                top: 50%;
                position: absolute;">
    <%= image_tag("bicopo_res.jpg", :alt => "bicopo") %>
  </div>
  </body>
</html>